.footer {}

.footer-news {
    margin: 30px 0;
    &__title {
        text-align: left;
    }
}

.b-news_footer {
    font-size: 0;
    margin: 0 -10px;
    @include mn768 {
        opacity: 1;
    }
    .b-news {
        &__item {
            font-size: 16px;
            text-align: center;
            margin-bottom: 30px;
            padding: 0 10px;
            @include mn768 {
                width: 33.33%;
                max-width: none;
                display: inline-block;
                vertical-align: top;
            }
        }
        &__inner {
            border: 1px solid #cdcdcd;
            padding: 25px 20px;
            max-width: 500px;
            margin: 0 auto;
        }
        &__title {
            font-family: GothamPro;
            text-align: left;
            font-size: 14px;
            font-weight: 700;
            margin: 0 0 20px;
        }
        &__txt {
            color: #6a7175;
            font-family: GothamPro;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 20px;
            @include mn768 {
                @include text-fade;
                overflow: hidden;
                height: 195px;
            }
        }
        &__img {
            height: 0;
            padding-bottom: 60%;
            margin-left: -20px;
            margin-right: -20px;
            @include mn1200 {
                padding-bottom: 78%;
            }
        }
    }
}

.footer-bottom {
    background: #080c0f;
    padding: 40px 0;
}

.footer-logo {
    text-align: center;
    &__img {}
    &__txt {
        opacity: 0.3;
        color: #fff9f9;
        font-size: 14px;
        font-weight: 300;
        margin-top: 30px;
    }
}

.footer {
    &__inner {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        color: white;
        text-align: center;
        @include mn768 {
            flex-direction: row;
            text-align: left;
        }
    }
    &__item {
        margin: 0 auto 30px;
        @include mn768 {
            margin: 0;
        }
    }
    &__menus {
        display: none;
        margin: 0 30px;
        @include mn768 {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        @include mn1200 {
            width: 50%;
        }
    }
    &__menu {
        font-size: 14px;
        font-weight: 300;
        padding: 0 5%;
        .menu-item a {
            margin-bottom: 15px;
            display: inline-block;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__title {
        font-family: "Bebas";
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 10px;
        &_menu {
            text-decoration: underline;
        }
    }
    &__visa {
        margin: 10px 0 20px;
    }
}