body {
    background: white;
    position: relative;
    min-width: 320px;
    color: #2b3338;
    font-family: GothamPro;
    font-size: 16px;
}

[data-aload] {
    background-image: none !important;
}

.admin-bar #wpadminbar {
    top: -46px;
    @media (min-width: 601px) {
        top: 0;
    }
    @media (max-width: 991px) {
        overflow: hidden;
    }
}
.content__seo,
.content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
    }
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: inherit;
        font-weight: inherit;
        margin-bottom: .5em;
        line-height: 1.3;
    }
    ul,
    ol {
        margin: 1em 0;
    }
    ol {
        counter-reset: list 0;
    }
    li {
        padding-left: 15px;
        position: relative;
        margin-bottom: 10px;
        &::before {
            color: $color1;
            position: absolute;
            left: 0;
        }
    }
    ul li::before {
        content: '\2022';
    }
    ol li {
        padding-left: 20px;
        &::before {
            counter-increment: list;
            content: counter(list) ".";
            left: 0;
        }
    }
    blockquote {
        background: $color1;
        color: white;
        margin: 20px 0;
        padding: 20px 30px;
        border-radius: 3px;
        clear: both;
    }
    img {
        &.alignleft {
            float: left;
            margin-right: 1em;
            margin-bottom: .5em;
            max-width: 30%;
            @include mn768 {
                max-width: 50%;
            }
        }
    }
    hr {
        background: #f0f3f5;
        margin: 30px 0;
        display: block;
        height: 2px;
        border: 0;
    }
    .wp-caption.aligncenter {
        text-align: center;
        margin: 20px auto;
    }
    .wp-caption-text {
        font-weight: 700;
        font-style: italic;
    }
    a {
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
    
}
.content {
    &__body {
        h3 {
            font-size: 20px;
        }
    }
    &__inner {}
    &__wrap {
        @include cf;
        margin-bottom: 50px;
    }
    &__title {
        color: #2b3338;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &__img {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }
    &__txt {
        &_bg-grey {
            background: #f0f3f5;
            padding: 25px;
            border-radius: 3px;
        }
    }
}

.main-layout {
    &__sidebar {
        @include mn1200 {
            width: 276px;
            float: left;
        }
    }
    &__content {
        @include mn1200 {
            margin-left: 310px;
            overflow: hidden;
        }
        >.b-grid {
            margin-top: 0;
        }
    }
}

.block-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: .8em;
    @include mn768 {
        font-size: 30px;
    }
}

.pagi {
    text-align: right;
    .page-numbers {
        display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: .8;
    padding: 6px 8px;
    height: 21px;
    }
    .current {
        background: $color1;
        color: white;
    }
    .next {
        @include arrow-next;
    }
    .prev {
        @include arrow-prev;
    }
}

.content-block {
    margin: 30px 0;
    font-size: 18px;
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: .5em;
        @include mn768 {
            font-size: 30px;
        }
    }
}

.title-line {
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 1;
    @include mn768 {
        font-size: 30px;
    }
    &_blue,
    &_red {
        @extend .title-line;
        color: $color1;
    }
    &_black {
        @extend .title-line;
        color: black;
    }
}

.tablepress-responsible {
    overflow-x: auto;
}